* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "RobotoHeadingMedium";
}
#nav {
  background: white;
  height: 80px;
  width: 100%;
  display: flex;
}
.logo {
  padding: 0 250px;
}
#nav #nav-ul-list {
  float: right;
  margin-right: 280px;
  margin-top: 20px;
}
#nav #nav-ul-list #nav-list {
  display: inline-block;
  /* line-height: 0px; */
  margin: 0 6px;
}
#nav #nav-ul-list #nav-list a {
  color: #0a2c66;
  font-size: 15px;
  padding-left: 12px;
  text-transform: capitalize;
  text-decoration: none;
}
li:nth-child(6) a {
  color: #dd4205;
  padding-left: 12px;
}
li:nth-child(6) a:hover {
  color: #0a2c66;
}
a.active,
a:hover {
  transition: 0.5s;
  color: #dd4205;
  text-decoration: none;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
nav button {
  color: white;
  background-color: #0a2c66;
  width: 100px;
  height: 40px;
  margin-left: 15px;
  font-size: 15px;
  background-color: #0a2c66;
}

@media screen and (max-width: 858px) {
  .logo {
    margin-left: 55%;
    padding: 0;
  }
  .checkbtn {
    display: block;
    margin-left: 2%;
  }
  #nav-ul-list {
    position: fixed;
    width: 100%;
    height: 110vh;
    background: white;
    top: 60px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
  }
  #nav #nav-ul-list #nav-list {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #nav #nav-ul-list #nav-list a {
    font-size: 20px;
    color: #0a2c66;
  }
  a:hover,
  a.active {
    background: none;
    color: #dd4205;
  }
  #check:checked ~ #nav-ul-list {
    left: 0;
  }
}