.payment-screen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-screen>div{
    width: 80%;
    height: 80%;
    background-color: pink;
    padding: 40px;
}
.payment-screen .payment{
    border: 1px solid gray;
}
.payment-screen .payment .payment-method{}
.payment-screen .payment .payment-method h3{}
.payment-screen .payment .payment-method div{}
.payment-screen .payment .payment-method div button{}
.payment-screen .payment .payment-details{}
.payment-screen .payment .payment-details>div{}
.payment-screen .payment .payment-details>div div{}
.payment-screen .payment .payment-details label{}
.payment-screen .payment .payment-details input{}

.payment-screen .order-details{
    border: 1px solid gray;
}
.payment-screen .order-details>div{}
.payment-screen .order-details>div h3{}
.payment-screen .order-details>div h3{}
.payment-screen .order-details>div>div{}
.payment-screen .order-details>div>div>div{}
.payment-screen .order-details>div>div>div p{}
.payment-screen .order-details>div>div>div h3{}
.payment-screen .order-details>div>div>div h5{}
.payment-screen .order-details button{}


