.second-nav {
    background-color: #191970;
    height: 50px;
    display: flex;
    padding-top: 13px;
    padding-left: 200px;
  }
  .second-nav ul li {
    display: inline;
    flex-direction: row;
  }
  #social-list {
    margin-left: 500px;
  }
  .policy {
    color: white;
    text-decoration: none;
    padding-left: 30px;
    font-size: 13px;
  }
  
  @media screen and (max-width: 360px) {
    /* first footer */
    nav {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      padding-left: 20px;
    }
    .navbar-brand {
      padding-left: 0;
    }
    #logo {
      display: none;
    }
    .collapse {
      padding-left: 0;
    }
    .navbar ul li {
      list-style: none;
      display: block;
      padding-left: 0;
      padding-top: 5px;
    }
    .nav-link {
      color: #191970;
      text-decoration: none;
      cursor: pointer;
      font-size: 15px;
    }
    .nav-link,
    .nav-link:before {
      transition: all 0.5s;
    }
    .nav-link:hover {
      color: red;
    }
    /* second footer */
    .second-nav {
      background-color: #191970;
      height: auto;
      width: 100%;
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
    .second-nav ul li {
      display: block;
      flex-direction: row;
    }
    #social-list {
      margin-left: 100px;
      display: block;
    }
    .policy {
      color: white;
      text-decoration: none;
      padding-left: 0px;
      font-size: 10px;
      display: inline-block;
    }
  }