.register{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;  
}
.register .image-background{
  min-height: 70%;
  min-width: 70%;
  background-image: url("../../images/CardBase.png");
  background-size: cover;
  background-position: center center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}
.register .content{
  margin: 0 100px;
}
.register .form{
  max-width: 60rem;
  margin: 0 auto;
}
.register .form h1{
  font-weight: 500;

}
.register .form .username{
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}
.register .form .password{
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}
.register .form label {
    margin-top: 5px;
    display: block;
    color: #A99A77;
}
.register .form input,
.register .form select{
  margin-top: 4px;
  padding: 5px 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid #AE9739;
  border-radius: 5px;
    width: 100%;
  -webkit-box-shadow: 0px 7px 30px -9px rgba(148,140,148,0.94);
  -moz-box-shadow: 0px 7px 30px -9px rgba(148,140,148,0.94);
  box-shadow: 0px 7px 30px -9px rgba(148,140,148,0.94)
}
.register .form select{
  width: 100%;
}
.register .form input:focus{
  border-color: rgb(157, 157, 223);
}
.register .form .forgot-pass{
  color: #A99A77;
  font-size: 15px;  margin-top: 10px;

}
.register .form-button{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.register .form-button button{
  padding: 8px 10px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: #AE9739;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}
.register .form .confirm{
  display: flex;
  flex-direction: column;
}
.register .form p{
  color: #A99A77;
  font-size: 15px;
}
.register .form a{
  color: #AE9739;
  text-decoration: none;
}
.register .content{
  margin: 0 100px;

}
.register .dob{
    margin-top: 10px;
}
.register .dob-inputs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.register .dob input{
  width: 70px;
}
select{
  padding: 5px;
}
input.date{
  width:50px;
  padding: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Responsiveness */
/* Max Screen Size = 1050px */
@media only screen and (max-width: 1050px) {
  .image-background{
    height: 90%;
    width: 90%;
  }
}
/* Max Screen Size = 850px */
@media only screen and (max-width: 850px) {
  body{
    background-color: #F0F0F2;
  }
  .image-background{
    background-image: none;
    align-items: center;
    justify-content: center;
  }
}